.wrapper {
  width: 100%;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .footer {
    margin-top: 20px;
    text-align: center;
  }
}
